<div class="left">
<h1>{{display.user.first_name + ' ' + display.user.last_name}}</h1>
<h3>{{display.user.username}}</h3>
<a href="mailto:{{display.user.email}}?subject=OpenBook"><div>Contact: {{display.user.email}}</div></a>
<div><div class="left">Majors: </div><div ng-repeat="m in display.user.majors" class="left">{{m}}, </div></div>
<br>
<div><div class="left">Minors: </div><div ng-repeat="m in display.user.minors" class="left">{{m}}, </div></div>
<h3>{{display.user.age + ' years old'}}</h3>
</div>
<div class="right">
    <div id="tokens">{{display.user.tokens}}</div>
</div>
<div id="uploads" class="left fill">
    <div class="result" ng-repeat="r in display.user.uploads">
        <a href="#/document/{{r.DID}}"><div class="left">
            <div>{{r.name}}</div>
            <a href="#/user/{{r.username}}"><div class="author">by {{r.username}}</div></a>
        </div>
        <div class="right"><button ng-click="search.download(r.DID)"><img src="img/download.png" width="32px" height="32px"></button></div>
        <div class="right big" ng-class="{worse: r.votes <= 5, worst: r.votes < 0}"><b>{{r.votes}}</b></div>
    </a></div>
    <div ng-hide="display.user.uploads.length"><i>This user has no uploads</i></div>
</div>
<div class="fill left"><button ng-show="display.user.username == username" ng-click="display.user.delUser()">Delete</button></div>